'.source.js':
  'Import React':
    'prefix': 'import React'
    'body': 'import React from \'react\''
  'Import Prop Types':
    'prefix': 'import PropType'
    'body': 'import PropTypes from \'prop-types\''
  'React Component Function':
    'prefix': 'const Foo'
    'body': '/*\n * Function: MyComponent\n * Description: \n */\nconst MyComponent = (props) => (\n\t<div></div>\n)\n\nMyComponent.propTypes = {\n\n}\n\nexport default MyComponent'
  'React Component Class':
    'prefix': 'class Foo extends Component'
    'body': 'const INITIAL_STATE = {\n\n}\n\n/*\n * Class: MyComponent\n * Description: \n */\nclass MyComponent extends Component {\n\tconstructor(props, context) {\n\t\tsuper(props, context)\n\n\t\tthis.state = INITIAL_STATE\n\t}\n\n\trender() {\n\t\treturn(<div></div)\n\t}\n}\n\nMyComponent.propTypes = {\n\n}\n\nexport default MyComponent'
  'React PropTypes Object':
    'prefix': '.propTypes = {...}'
    'body': '.propTypes = {\n\n}'
